ghp-import
jupyter-book
jupyterlab
jupytext
mystmd
numpy
pandas
seaborn
matplotlib
folium
scipy
geopandas
rasterio
xarray
rioxarray
contextily
tqdm
pyarrow
cmcrameri
gdown
cftime
cartopy
pystac-client
planetary-computer
pyproj
leafmap
ipywidgets
ipyleaflet
jupyterlab_widgets
gdal
proj
shapely
fiona
pyogrio
scikit-learn
scikit-image
requests
boto3
s3fs
awscli
geoai-py
torch
torchgeo
torchvision
segment-geospatial
localtileserver
quackosm